@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Inter&display=swap');

*{
    margin: 0;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Inter', sans-serif;
}
body{

}
.black{
    background-color: black;
}
#connectbutton{
    width: 170px;
    height: 50px;
    margin-left: 70px;
    border: 1px solid #ECEAED;
    background-color: transparent;
    color: white;
}

.half-circle{
    width: 500px;
    height: 300px;
    background-color: #A41245;
    border-bottom-left-radius: 90px;  
    border-bottom-right-radius: 250px; 
    border: 10px solid #121212;
    border-bottom: 0;
    margin-top: 400px;
    text-align: center;
}
.slider{
    width: 450px;
    margin-top: -420px;
    animation-name: fade;
    animation-duration: 1.5s;
} 
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
#title{
    color: #A41245;
}
.b-paragraph{
    margin-top: 150px;
    display: inline-block;
    font-size: 60px;
    color: white;
    font-weight: bolder;
    width: 80%;
    line-height: 1;
    letter-spacing: 3px;
    text-align: center;
}

.header{
    height: 150px;
    width: 80%;
    display: flex;
    position: fixed;
    transition: .32s ease-in-out;
    padding: 30px 10% 0px 10%;
    z-index: 9999;
}
.onscroll{
    padding: 10px 10%;
    background-color: #121212;
}


.logo, .menu, .socialmediaicons{
    padding: 30px;
    color: white;
}

.logo{
    width: 20%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 10px;
}
.logo span{
    letter-spacing: 10px;
    color: #A41245;
    font-weight: 800;
    font-size: 30px;
    background: none;
}
.menu{
    display: flex;
    width: 45%;
}
.menus{
    font-size: 25px;
    margin-left: 30px;
    
}
.socialmediaicons{
    width: 35%;
}
/* Banner */
#banner{
    display: flex;
    margin-top: 0;
    padding: 260px 0 100px;
    
}
.bannerbio, .bannerphoto{
    width: 50%;
    display: flex;
    justify-content: center;
    
    
}
.bannerbio{
    flex-direction: column;
}
#s-b-paragraph, .b-paragraph{
    width: 80%;
    margin: 0 auto;
}
.s-b-paragraph{
    margin-top: 100px;
    color: #b8b8b8;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
}
/*skills */

.skills{
    height: 600px;
    width: 100%;
    background-color: transparent;
}

a{

    text-decoration: none;
}

input {

    display: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.cards {
    position: relative;
    height: 600px;
    width: 480px;
    margin-bottom: 20px;
    perspective: 2000px;
    transform-style: preserve-3d;
}

.cards label {

    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}

.cards .card{

    position: relative;
    height: 100%;
    background-color: #121212;
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{

    display: flex;
    justify-content: space-between;
}

.card .image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 100%;
    height: 350px;
}

.card .image{

    text-align: center;
}

.card .infos{

    display: block;
    text-align: end;
    padding-top: 60px;
}

.infos span{

    display: block;
}

.infos .name{

    font-size: 30px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 20%;
    transition: all .6s ease;
}

.infos .lorem{

    font-size: 15.5px;
    color: #ECEAED;
    letter-spacing: 3px;
}

.card .btn-contact{

    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    transition: all .7s ease;
}

.card .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}




#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #121212;
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #121212;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #ECEAED;
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
    --current-color1: #ECEAED;
    --current-color2: #121212;
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
    --current-color1: #ECEAED;
    --current-color2: #121212;
}
#skillsdiv{
    width: 100%;
    margin-top: 100px;
}
.h1-div{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 900;
}

/* Projects div */
#projects-div{

    width: 100%;
    margin-top: 200px;
}
#skillsp, #projectp{
    margin: 0 auto;
    width: 50%;
    margin-top: 100px;
}
.projectstabs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.tabs{
    color: white;
    margin-left: 50px;
    background-color: #A41245;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 10px 10px;
    font-weight: 900;
    font-size: 25px;
    border-radius: 5px;
    border-color: #b8b8b8;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 50px;
    column-gap: 10px;
    row-gap: 10px;


}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .grid-item img{
    width: 550px;
  }

  .d-none{
    display: none;
  }
  /* About me */

  #aboutme-div{
    width: 100%;
    margin-top: 90px;
  }
  /*Contact Form */
  #contact-div{
    margin: 0 auto;
    width: 50%;
    height: 800px;
    margin-top: 150px;
    border: 1px solid #ECEAED;
  }
  .contactform{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 40px;
    
  }
  .contactform input{
    margin:  0 auto;
    display: block;
    width: 80%;
    height: 60px;
    background-color: white;
    margin-top: 100px;
    background: hsla(0,0%,100%,.1);
    border: 1px solid hsla(0,0%,100%,.5);
    transition: .3s ease-in-out;
    color: white;
    font-size: 19px;
  }
  .contactform input:focus{
    background-color: white;
    color: black;
  }
  .contactform :nth-child(5){
        height: 200px;
  }
  .contactform :nth-child(6){
    margin-top: 150px;
    width: 60%;
    background-color: #121212;
    border: none;
    color: white;
  }
  .absolutep{
    position: absolute;
    animation: rocektanimation 4s linear infinite;
    transform: rotate(305deg);
  }
  
  @keyframes rocektanimation{
    0% {
        right: 0;
      }
      50%{
        right: 50%;
      }
      100% {
        right: 100%;
      }
      
  }

  /* footer */
  footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background-color: #121212;
    margin-top: 100px;
  }
  .fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid #ECEAED;
    margin-left: 20px;
    background: #121212;
    color: white;
    
  }
  .mt-50{
    margin-top: 50px;
  }
  .mtop{
    margin-top: 10px;
  }
  .fa:hover {
    opacity: 0.7;
  }

  /*dashboard */
  table{
    margin-top: 100px;
  }
  .tableheader th{
    border: solid 1px black;
    width: 250px;
    height: 50px;
    background-color: #121212;
    color: white;
  }
  .userh1{
    text-align: center;
  }
  #editbutton, #deletebutton{
    width: 40%;
    height: 40px;
    border: 1px solid #ECEAED;
  }
  #editbutton{
    background-color: #a58b18;
  }
  #deletebutton{
    background-color: #c70202;
    margin-left: 15%;
  }
  .tableheader td{
    border: 1px solid  black;
  }
  